In [1]:
import pandas as pd
#import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
csv_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [3]:
col_names = ['sepal_ln','sepal_wd','petal_ln','petal_wd','species']

In [4]:
iris_data = pd.read_csv(csv_url, names=col_names)

In [5]:
iris_data

     sepal_ln  sepal_wd  petal_ln  petal_wd         species
0         5.1       3.5       1.4       0.2     Iris-setosa
1         4.9       3.0       1.4       0.2     Iris-setosa
2         4.7       3.2       1.3       0.2     Iris-setosa
3         4.6       3.1       1.5       0.2     Iris-setosa
4         5.0       3.6       1.4       0.2     Iris-setosa
..        ...       ...       ...       ...             ...
145       6.7       3.0       5.2       2.3  Iris-virginica
146       6.3       2.5       5.0       1.9  Iris-virginica
147       6.5       3.0       5.2       2.0  Iris-virginica
148       6.2       3.4       5.4       2.3  Iris-virginica
149       5.9       3.0       5.1       1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
iris_data['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
onehot_encoder = OneHotEncoder()

In [8]:
species_encoded = onehot_encoder.fit_transform(iris_data[['species']])

In [9]:
print(species_encoded)

  (0, 0)	1.0
  (1, 0)	1.0
  (2, 0)	1.0
  (3, 0)	1.0
  (4, 0)	1.0
  (5, 0)	1.0
  (6, 0)	1.0
  (7, 0)	1.0
  (8, 0)	1.0
  (9, 0)	1.0
  (10, 0)	1.0
  (11, 0)	1.0
  (12, 0)	1.0
  (13, 0)	1.0
  (14, 0)	1.0
  (15, 0)	1.0
  (16, 0)	1.0
  (17, 0)	1.0
  (18, 0)	1.0
  (19, 0)	1.0
  (20, 0)	1.0
  (21, 0)	1.0
  (22, 0)	1.0
  (23, 0)	1.0
  (24, 0)	1.0
  :	:
  (125, 2)	1.0
  (126, 2)	1.0
  (127, 2)	1.0
  (128, 2)	1.0
  (129, 2)	1.0
  (130, 2)	1.0
  (131, 2)	1.0
  (132, 2)	1.0
  (133, 2)	1.0
  (134, 2)	1.0
  (135, 2)	1.0
  (136, 2)	1.0
  (137, 2)	1.0
  (138, 2)	1.0
  (139, 2)	1.0
  (140, 2)	1.0
  (141, 2)	1.0
  (142, 2)	1.0
  (143, 2)	1.0
  (144, 2)	1.0
  (145, 2)	1.0
  (146, 2)	1.0
  (147, 2)	1.0
  (148, 2)	1.0
  (149, 2)	1.0

In [17]:
species_encoded_df = pd.DataFrame(species_encoded.toarray(), columns=onehot_encoder.categories_[0])

In [18]:
species_encoded_df

     Iris-setosa  Iris-versicolor  Iris-virginica
0            1.0              0.0             0.0
1            1.0              0.0             0.0
2            1.0              0.0             0.0
3            1.0              0.0             0.0
4            1.0              0.0             0.0
..           ...              ...             ...
145          0.0              0.0             1.0
146          0.0              0.0             1.0
147          0.0              0.0             1.0
148          0.0              0.0             1.0
149          0.0              0.0             1.0

[150 rows x 3 columns]

In [12]:
iris_data_encoded = pd.concat([iris_data, species_encoded_df], axis=1)

In [13]:
iris_data_encoded

,sepal_ln,sepal_wd,petal_ln,petal_wd,species,Iris-setosa,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,Iris-setosa,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,Iris-setosa,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,Iris-setosa,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,Iris-setosa,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,Iris-setosa,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0.0,0.0,1.0
146,6.3,2.5,5.0,1.9,Iris-virginica,0.0,0.0,1.0
147,6.5,3.0,5.2,2.0,Iris-virginica,0.0,0.0,1.0
148,6.2,3.4,5.4,2.3,Iris-virginica,0.0,0.0,1.0
149,5.9,3.0,5.1,1.8,Iris-virginica,0.0,0.0,1.0

In [14]:
print(iris_data_encoded.head())

   sepal_ln  sepal_wd  petal_ln  petal_wd      species  Iris-setosa  \
0       5.1       3.5       1.4       0.2  Iris-setosa          1.0
1       4.9       3.0       1.4       0.2  Iris-setosa          1.0
2       4.7       3.2       1.3       0.2  Iris-setosa          1.0
3       4.6       3.1       1.5       0.2  Iris-setosa          1.0
4       5.0       3.6       1.4       0.2  Iris-setosa          1.0

   Iris-versicolor  Iris-virginica
0              0.0             0.0
1              0.0             0.0
2              0.0             0.0
3              0.0             0.0
4              0.0             0.0